<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/sth.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
       
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cardo:wght@700&family=Dancing+Script:wght@400;592&family=Merienda&family=Montserrat:wght@300&family=Roboto+Condensed:wght@700&family=The+Nautigal:wght@700&family=Tinos:ital,wght@1,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c5a7177c91.js" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      
      </head>
<body>
  <div class="toppic" style="opacity:0.9">
           
    <!--<img src="https://ak.picdn.net/shutterstock/videos/28189981/thumb/1.jpg">-->
    <img src="https://ak1.picdn.net/shutterstock/videos/18087301/thumb/1.jpg?ip=x480">
    <img src="https://i.pinimg.com/736x/01/da/4a/01da4aa52ffbd12a2e50d80b8278851f--letters.jpg" id="small_pic">
  </div>
  <div class="text-wrapper"><b><i>CHEMICAL</i></b><br>  <b><i >CORE</i></b></div>
  <h3 class="heading_small"><b>EXPERIMENTAL CHEMISTRY IN ITS MOST RADICAL FORM</b></h3>
  
  <h6 class="head_small">CREATED ON JUNE 1st,&emsp;2022</h6>
  
  <a href="trial.html" class="hover-underline-animation" style=" position: relative;top:-500px;left:10px;font-size: 20px;text-decoration: none;"><b>DETAILS</b></a>


  <!--<p class="hover-underline-animation" style="margin-right: 50%;position: relative;margin-left: 50%;top:-460px"><b>ABOUT EXPERIMENTAL CHEMISTRY</b></p>   -->
  <p class="hover-underline-animation" style="position: relative;top:-460px;left: 430px;"><b>ABOUT EXPERIMENTAL CHEMISTRY</b></p>
  <p class="words"><b>Chemistry is known as experimental science as an experiment is performed under controlled conditions in an activity and we observe a natural or an artificially created phenomenon.There is a continuous and growing demand for new and existing organic and inorganic chemical products. Chemical products encompass things like pharmaceuticals, agrochemicals, polymers, and other functional materials, flavors/fragrances, food supplements, cosmetics, fuels, cleaning products, personal care products.</b></p>
  
  <!--<p class="hover-underline-animation" style=" position: relative;top:-420px;left:610px;"><b>CATEGORY 1</b></p>-->
  <p class="hover-underline-animation" style=" position: relative;top:-420px;margin-left: 50%;margin-right: 50%;"><b>CATEGORY1</b></p>
  
  
  
  <section class="category">
    <div class="row1">
          <div class="column" style="position:relative;top:-402px;">
            <div class="card h-100" >

              <form action="/experiment" method="get">
              <div class="card-side front">
              <div class="front">Salt Analysis</div>
              <img src="../static/cat1_exp1.png" style="position: relative; top:60px;">
              </div>
              <div class="card-side back">
              <div class="back">AIM OF THE EXPERIMENT</div>
              <p class="cp">When chemicals react to each other with fanfare, it usually means that one is working with an acid and a base, and they will react when they come in contact with each other.</p>
              <!--<button type="submit">sub</button>-->
              <button class="button" type="submit">Experiment!</button>
              </div>
            </form>

            </div>
          </div>

          <div class="column" style="position: relative;top:-915px;left:435px">
            <div class="card h-100">
              <form action="/experiment1" method="get">
              <div class="card-side front">
              <div class="front">BASIC<br>RADICAL</div>
              <img src="../static/cat1_exp2.png" style="position: relative; top:60px;left:20px">
              </div>
              <div class="card-side back">
              <div class="back">AIM OF THE EXPERIMENT</div>
              <p class="cp">When chemicals react to each other with fanfare, it usually means that one is working with an acid and a base, and they will react when they come in contact with each other.</p>
              <button class="button" type="submit">Experiment!</button>
              </div>
              </form>
            </div>
          </div>

          <div class="column" style="position: relative;top:-1425px;left:870px">
            <div class="card h-100">
              <form action="/experiment2" method="get">
              <div class="card-side front">
              <div class="front">TITRATION</div>
              <img src="../static/cat1_exp3.png" style="position: relative; top:60px;left:0px">
              </div>
              <div class="card-side back">
              <div class="back">AIM OF THE EXPERIMENT</div>
              <p class="cp">When chemicals react to each other with fanfare, it usually means that one is working with an acid and a base, and they will react when they come in contact with each other.</p>
              <button class="button" type="submit">Experiment!</button>
            </div>
            </form>
            </div>
          </div>

    </div>
  </section>
  <p class="hover-underline-animation" style="position: relative; top:-1420px;left:610px"><b>CATEGORY 2</b></p>
  
  <section class="category">
    <div class="row1">
          <div class="column" style="position:relative;top:-1402px;">
            <div class="card h-100" >

              <div class="card-side front">
              <div clas="front">Front Side</div>
              </div>
              <div class="card-side back">
                <div class="back">AIM OF THE EXPERIMENT</div>
                <p class="cp">When chemicals react to each other with fanfare, it usually means that one is working with an acid and a base, and they will react when they come in contact with each other.</p>
              </div>

            </div>
          </div>

          <div class="column" style="position: relative;top:-1912px;left:435px">
            <div class="card h-100">

              <div class="card-side front">
              <div>Front Side</div>
              </div>
              <div class="card-side back">
                <div class="back">AIM OF THE EXPERIMENT</div>
                <p class="cp">When chemicals react to each other with fanfare, it usually means that one is working with an acid and a base, and they will react when they come in contact with each other.</p>
              </div>

            </div>
          </div>

          <div class="column" style="position: relative;top:-2425px;left:870px">
            <div class="card h-100">

              <div class="card-side front">
              <div>Front Side</div>
              </div>
              <div class="card-side back">
                <div class="back">AIM OF THE EXPERIMENT</div>
                <p class="cp">When chemicals react to each other with fanfare, it usually means that one is working with an acid and a base, and they will react when they come in contact with each other.</p>
              </div>

            </div>
          </div>

    </div>
  </section>

 


  <section class="footer"><br><br>
			
    <h2> REACH OUT TO US</h2><br>
    <p> 
      The seemingly impersonal contact form on this page will deliver your message personally into my inbox. I usually reply within 48 hours.
       Not a fan of contact forms? Feel free to send me an email. I’ll tell you my email address right after you’ve read the “please keep in mind” part. <br><br><br>

      <div class= "icons">
        <h3>
        <i class="fa fa-facebook"></i>
        <i class = "fa fa-instagram"></i> 
        <i class = "fa fa-twitter"></i> 
        <i class = "fa fa-linkedin"></i> </h3>
      </div>
    </p>
    <br><br>
  </section>


</body>
  </html>